version: "3.8"

services:
  backend:
    image: backend
    container_name: backend
    ports:
      - "9090:8080"
    environment:
      SPRING_CONFIG_LOCATION: file:/config/
    volumes:
      - ./src/main/resources:/config
    networks:
      - backend-net

networks:
  backend-net:
    external: true
